h1 {
  color: rgba(91, 49, 133, 0.925);
  font-size: 75px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

img {
  width: 27%;
  margin: auto;
  border: 10px solid rgba(91, 49, 133, 0.925);
  padding:auto;
  float: left;
  box-sizing: border-box;
}

body {
  background-color: rgb(231, 225, 236);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.abtme {
  height: 30%;
  border: 5px dotted rgb(36, 20, 36);
  margin: auto;
}

.myproj {
  height: 30%;
  border: 5px dotted rgb(36, 20, 36);
  margin: auto;
}

.mybgd {
  height: 30%;
  border: 5px dotted rgb(36, 20, 36);
  padding: 20px;
  margin: auto;
}

.blue {
  color: rgb(119, 119, 180);
  font-style: italic;
  font-weight: 200;
}